@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);

* {
  font-family: 'Noto Sans JP', sans-serif;
}

header {
  height: 60px;
}

header li {
  font-weight: 900;
  line-height: 35px;
  text-transform: uppercase;
  list-style: none;
  display: inline;
  padding: 10px;
  float: right;
  position: relative;
  color: black;
}
header>ul>li>a{
  text-decoration: none;
  color: black;
}
#hello{
  font-size: 100px;
  text-align: center;
  padding-top: 250px;
  color: white;
  text-shadow: 2px 2px #000000;


}

.flag{
  margin-top: -65px;
  background-image: url('https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/EZWO30D5TV.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}


#menu{
  margin-left: -30px;
  position: absolute;
}

#menu li,a{
  display: inline-block;
  margin-left: -25px;
  padding-right: 20px;
  text-decoration: none;
  color: white;
}

.options {
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
}

.game {
  text-align: center;
}

.square {
  display: inline-block;
  vertical-align: top;
  border: 1px solid black;
  border-radius: 30px;
  margin: 20px;
  line-height: 210px;
  font-size: 160px;
  text-align: center;
  font-weight: 900;
  box-sizing: border-box;
  width: 250px;
  height: 250px;
  background-image: url("../sushiroll.jpg");
  background-position: center;
  background-size: cover;
}

.letter {
  font-size: 180px;
  font-weight: bolder;
  text-align: center;
  line-height: 200px;
}
.letters div {
  display: inline-block;
  width: 250px;
}
.letters-back {
  box-sizng: border-box;
  height: 250px;
  margin: 10px;
  border: 1px solid gray;
  border-radius: 20px;
  background-image: url("../sushiroll.jpg");
  background-position:center;
  background-size: cover;
  background-repeat: no-repeat;
}

#play {
  display: block;
  margin: 0 auto;
}

.status {
  text-align: center;
}

.letter-inside {
  width: 200px;
  height: 200px;
}
footer {
  color: gray;
  padding: 10px;
}
footer a{
  padding-left: 30px;
  color: gray;
}
